<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.3.1" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net452" />
  <package id="Common.Logging.NLog40" version="3.3.1" targetFramework="net452" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net452" />
  <package id="Extended.Wpf.Toolkit.Plus" version="3.3.17121.18230" targetFramework="net452" />
  <package id="MvvmLight" version="5.3.0.0" targetFramework="net452" />
  <package id="MvvmLightLibs" version="5.3.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NLog" version="4.0.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.104.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Linq" version="1.0.104.0" targetFramework="net452" />
  <package id="Xceed.Wpf.AvalonDock" version="3.3.17121.18230" targetFramework="net452" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Aero" version="3.3.17121.18230" targetFramework="net452" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Metro" version="3.3.17121.18230" targetFramework="net452" />
  <package id="Xceed.Wpf.AvalonDock.Themes.MetroAccent" version="3.3.17121.18230" targetFramework="net452" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Office2007" version="3.3.17121.18230" targetFramework="net452" />
  <package id="Xceed.Wpf.AvalonDock.Themes.VS2010" version="3.3.17121.18230" targetFramework="net452" />
  <package id="Xceed.Wpf.AvalonDock.Themes.Windows10" version="3.3.17121.18230" targetFramework="net452" />
  <package id="Xceed.Wpf.DataGrid.Themes.Metro" version="3.3.17121.18230" targetFramework="net452" />
  <package id="Xceed.Wpf.DataGrid.Themes.Office2007" version="3.3.17121.18230" targetFramework="net452" />
  <package id="Xceed.Wpf.DataGrid.Themes.Windows10" version="3.3.17121.18230" targetFramework="net452" />
  <package id="Xceed.Wpf.DataGrid_Toolkit" version="3.3.17121.18230" targetFramework="net452" />
  <package id="Xceed.Wpf.ListBox" version="3.3.17121.18230" targetFramework="net452" />
  <package id="Xceed.Wpf.ListBox.Themes.LiveExplorer" version="3.3.17121.18230" targetFramework="net452" />
  <package id="Xceed.Wpf.ListBox.Themes.Metro" version="3.3.17121.18230" targetFramework="net452" />
  <package id="Xceed.Wpf.ListBox.Themes.Office2007" version="3.3.17121.18230" targetFramework="net452" />
  <package id="Xceed.Wpf.ListBox.Themes.Windows10" version="3.3.17121.18230" targetFramework="net452" />
  <package id="Xceed.Wpf.ListBox.Themes.WMP11" version="3.3.17121.18230" targetFramework="net452" />
  <package id="Xceed.Wpf.Themes" version="3.3.17121.18230" targetFramework="net452" />
  <package id="Xceed.Wpf.Themes.Metro" version="3.3.17121.18230" targetFramework="net452" />
  <package id="Xceed.Wpf.Themes.Office2007" version="3.3.17121.18230" targetFramework="net452" />
  <package id="Xceed.Wpf.Themes.Windows10" version="3.3.17121.18230" targetFramework="net452" />
  <package id="Xceed.Wpf.Toolkit" version="3.3.17121.18230" targetFramework="net452" />
  <package id="Xceed.Wpf.Toolkit.Themes.Metro" version="3.3.17121.18230" targetFramework="net452" />
  <package id="Xceed.Wpf.Toolkit.Themes.Office2007" version="3.3.17121.18230" targetFramework="net452" />
  <package id="Xceed.Wpf.Toolkit.Themes.Windows10" version="3.3.17121.18230" targetFramework="net452" />
</packages>